body{
	background-image: url('../images/body-bg.png');
	background-attachment: fixed;
	background-repeat: repeat;
}

.row{
	width: 100%;
	margin: 0 auto;
}



/* INDEX PAGE */



#menu{
	background-color: #000000;
	height: 85px;
}

.jumbotron{
	background-image: url("../images/header1.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	border-bottom: 5px solid #ffffff;
	-webkit-box-shadow: 1px 15px 21px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 15px 21px -12px rgba(0,0,0,0.75);
box-shadow: 1px 15px 21px -12px rgba(0,0,0,0.75);
}

#jmb-bg{
	background: rgba(96, 96, 96, .2); 
	padding-left: 30px;
	padding-bottom: 10px;
	border-radius: 10px;
}

#jmb_txt{
	color: #ffffff;
}

#jumbotronline1{
	font-family: Arial;
	color: #ffffff;
	font-size: 80px;
	margin-top: 350px;
}

#jumbotronline2{
	font-family: Disturbo Regular;
	color: #ffffff;
	font-size: 30px;
	margin-top: -20px;
}

.navbar-default .navbar-nav > li > a {
	color: #848484;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
	margin-top: 12px;
} 

.navbar-default .navbar-nav > li > a:hover {
	color: #ffffff;
	text-shadow: rgb(255, 255, 255) 0px 0px 15px;
}

.navbar-default {
	background-color: #000000;
	border: none;
	float: right;
}




#logo img{
	margin-top: 5px;
	height: 80px;
	padding-bottom: 10px;
}

.navbar-header button {
	border: none;
} 

.navbar-header button:hover {
	background-color: #000000;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; /* this can also be static */
}

.bands{
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-family: Bebas Neue Regular;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
}

.bands img {
	width: 100%;
	border: 2px solid #ffffff;
	border-radius: 50%;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 6px 34px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 34px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 34px 3px rgba(0,0,0,0.75);
	}

.bands img:hover {
	width: 100%;
	border: 2px solid #585858;
	border-radius: 50%;
	margin-bottom: 10px;
	-webkit-box-shadow: 2px -2px 80px 5px rgba(255,255,255,1);
	-moz-box-shadow: 2px -2px 80px 5px rgba(255,255,255,1);
	box-shadow: 2px -2px 80px 5px rgba(255,255,255,1);
	cursor: pointer;
}

.bands span{
	color: #ffffff;
	text-transform: uppercase;
}

#video{
	background: rgba(96, 96, 96, .2);
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#videoW{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 500;
}

#fblike{
	float: left;
}

.socialns{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-box-shadow: 0px -1px 47px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 47px 1px rgba(0,0,0,0.75);
box-shadow: 0px -1px 47px 1px rgba(0,0,0,0.75);
}

#socials div{
	float: right;
	display: inline-block;
	margin-left: 10px;
	border: 2px solid #BDBDBD;
}

#socials #fb-icon{
	background-image: url('../images/facebook1.png');
} 

#socials #fb-icon:hover{
	background-image: url('../images/facebook2.png');
	border: 2px solid #ffffff;
}

#socials #tw-icon{
	background-image: url('../images/twitter1.png');
} 

#socials #tw-icon:hover{
	background-image: url('../images/twitter2.png');
	border: 2px solid #ffffff;
}



#footer{
	background-color: #585858;
	border-top: 2px solid #000000;
}

#footer-menu{
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer-menu a{
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;

}



/* PROGRAM PAGE */


#wrapper{
	margin-top: 20px;
	background: rgba(96, 96, 96, .7);
	border-radius: 10px;
	padding: 10px;
	z-index: -100;
	padding: 50px;
}

#text-wrapper{
	font-size: 20px;
	color: #ffffff;
}







