/* Large desktops and laptops */
@media (min-width: 1200px) {
	
	#slideshow{
		text-align: center;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
	#logo{
		text-align: center;
	}
	
	.wrapper1 {
		text-align: center;
	}
	
	.wrapper2 {
		text-align: right;
	}
	
	#slideshow{
		text-align: center;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#logo{
		text-align: center;
	}
	
	.wrapper1 {
		text-align: center;
	}
	
	.wrapper2 {
		text-align: center;
	}
	
	#social {
		text-align: center;
	}
	
	#slideshow{
		text-align: center;
	}
	
	.text_field {
	margin: 10px;
	text-align: center;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#logo{
		text-align: center;
	}
	
	.wrapper1 {
		text-align: center;
	}
	
	.wrapper2 {
		text-align: center;
	}
	
	#social {
		text-align: center;
	}
	
	#slideshow{
		text-align: center;
	}
	
	.text_field {
	margin: 10px;
	text-align: center;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	#logo{
		text-align: center;
	}
	
	.wrapper1 {
		text-align: center;
	}
	
	.wrapper2 {
		text-align: center;
	}
	
	#social {
		text-align: center;
	}
	
	#slideshow{
		text-align: center;
	}
	
	.text_field {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	}
}